appdirs==1.4.0
boto==2.46.1
coverage==4.3.4
decorator==4.0.11
dj-database-url==0.4.2
Django==1.10.5
django-annoying==0.10.3
django-bower==5.2.0
django-crispy-forms==1.6.1
django-extensions==1.7.7
django-registration-redux==1.4
django-scheduler==0.8.4
django-storages==1.5.2
django-tables2==1.3.0
gunicorn==19.6.0
icalendar==3.11.3
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2017.2
schedule==0.4.2
six==1.10.0
whitenoise==3.3.0
