{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Login</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-block btn-primary' type="submit" value="Ingresar"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>

</div>
<hr/>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
        <p>Olvidó la contraseña? <a href="{% url 'auth_password_reset' %}">Recuperela</a>!</p>
        <p>Sin usuario? <a href="{% url 'registration_register' %}">Regístrese</a>!</p>
    </div>
</div>
{% endblock %}