{% extends "base.html" %}
{% block head_title %}{{ block.super }}Reestablecimiento Contraseña{% endblock %}
{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% if validlink %}
            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enviar"/>
            </form>
        {% else %}
            <p class='text-align-center lead'>Reestablecimiento de contrase&ntilde;a fallido.</p>
        {% endif %}
    </div>
{% endblock %}
