{% extends "base.html" %}
{% block head_title %}{{block.super}}Reestablecimiento Solicitud{% endblock%}
{% load crispy_forms_tags %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    <h1>Reestablecimiento de Contrase&ntilde;a</h1>
    <p class='lead'>Reestablezca su contrase&ntilde;a a trav&eacute;s del correo.</p>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-primary' type="submit" value="Reestablecer"/>
    </form>
</div>
{% endblock %}