.panel {
    border-color: #C7CAE1 !important;
    border: 1px solid;
    border-radius: 5px !important;
}

.panel-body {
    background: rgba(199, 202, 225, 0.3) !important;

}

.panel-heading {
    /*background: #464E8E !important;*/
    background: #8187B7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#8187B7, #C7CAE1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8187B7, #C7CAE1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8187B7, #C7CAE1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8187B7, #C7CAE1); /* Standard syntax */
    /*color: #C7CAE1 !important;*/
    border: 1px solid;
    border-radius: 5px 5px 0px 0px !important;
}

.panel-title {
    font-weight: bold !important;
}