{% extends 'base.html' %}

{% load lab_module_extras %}
{% load staticfiles %}
{% block head_others %}
    <link href="{% static 'css/detalleCustom.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}{{ block.super }}{{ section.title }}{% endblock %}

{% block content %}

    <div class="page-header text-center">
        <h2>{{ section.title }} {{ muestraSolicitud.solicitud.id }}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-left">Información solicitud </h3>
        </div>

        <div class="panel-body text-left">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Solicitante:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items"
                                   name="items"> {{ muestraSolicitud.solicitud.solicitante.nombre_usuario }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Aprobador:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items"
                                   name="items"> {{ muestraSolicitud.solicitud.aprobador.nombre_usuario }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Tipo:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items" name="items"> {{ muestraSolicitud.tipo }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Muestra:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items" name="items"> {{ muestraSolicitud.muestra.nombre }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Fecha:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items" name="items"> {{ muestraSolicitud.solicitud.fechaActual }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Cantidad:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items" name="items"> {{ muestraSolicitud.cantidad }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Paso:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items" name="items"> {{ muestraSolicitud.solicitud.paso.nombre }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Descripción Paso:</strong>
                            </div>
                            <div class="col-md-7 col-sm-4">
                                <p id="items" name="items"> {{ muestraSolicitud.solicitud.paso.descripcion }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-left">Bandejas</h3>
                </div>
                <div class="panel-body text-left">
                    {% for lugar,posiciones in lugaresConPos.items %}
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Lugar:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ lugar }} </strong>
                            </div>
                            <div class="col-md-6">
                                <strong>Posiciones:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ posiciones }} </strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
    <div class="row center">
        <div>
            <a class="btn btn-default" href="{% url 'solicitud-muestra-list' %}" id="cancel" name="cancel">Continuar</a>
        </div>
    </div>
{% endblock %}
