{% extends 'base.html' %}
{% load staticfiles %}
{% block head_others %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <link href="{% static 'css/datatablesCustom.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}{{ block.super }}{{ section.title }} {% endblock %}
{% load lab_module_extras %}
{% block content %}

    {% if mensaje != "ok" %}
        <div class="alert alert-danger col-md-6">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ mensaje }}
        </div>
    {% endif %}
    <div class="page-header text-center">
        <h2>{% block title %}{{ section.title }}{% endblock %} </h2>
    </div>


    <div class="row">
        <table id="solicitudes_table" class="datatable display compact responsive nowrap" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Muestra</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Solicitante</th>
                <th>Paso</th>
                <th>Descripción paso</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for solicitudMuestra in solicitudes %}
                <tr >
                    <td >{{ solicitudMuestra.solicitud.id }}</td>
                    <td >{{ solicitudMuestra.tipo }}</td>
                    <td >{{ solicitudMuestra.muestra.nombre }}</td>
                    <td >{{ solicitudMuestra.cantidad }}</td>
                    <td >{{ solicitudMuestra.solicitud.fechaActual }}</td>
                    <td >{{ solicitudMuestra.solicitud.solicitante.nombre_usuario }}</td>
                    <td >{{ solicitudMuestra.solicitud.paso.nombre }}</td>
                    <td >{{ solicitudMuestra.solicitud.paso.descripcion }}</td>
                    <td >
                            <a href="{% url 'solicitud-muestra-aprobar' %}?pk={{ solicitudMuestra.solicitud.pk }} "
                               class="btn btn-primary "
                               role="button">Aprobar</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% block scripts_others %}

        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>

        <script>
            $(function () {

                if ($.fn.dataTable.isDataTable('#solicitudes_table')) {
                    $('#solicitudes_table').DataTable();
                }
                else {
                    $('#solicitudes_table').DataTable({
                    $('#solicitudes_table').DataTable({
                        responsive: true,
                        sPaginationType: "full_numbers",
                        bJQueryUI: true,
                        language: {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                        }
                    });
                }


            });
        </script>
    {% endblock %}
{% endblock %}