{% extends 'base.html' %}

{% load lab_module_extras %}
{% load staticfiles %}
{% block head_others %}
    <link href="{% static 'css/detalleCustom.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}{{ block.super }}Solicitar Muestra{% endblock %}

{% block content %}
    {% if mensaje != "ok" %}
        <div class="alert alert-danger col-md-6">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ mensaje }}
        </div>
    {% endif %}
    <div id="mensajes-error"></div>
    <div class="page-header text-center">
        <h2>Solicitar Muestra {{ muestra.nombre }}</h2>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title text-left">Información básica ID {{ muestra.id }}</h3>
        </div>

        <div class="panel-body text-left">
            <div class="container">
                <div class="row">

                    <div class="col-md-2">
                        <strong>Descripción:</strong>
                    </div>
                    <div class="col-md-3 col-sm-4">

                        <p id="items" name="items" rows="5"> {{ muestra.descripcion }}</p>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-body text-left" style="text-align:center">

                                <a href="{{ muestra.imagen.url }}" target="_blank">
                                    <img src="{{ muestra.imagen.url }}" alt="Imagen Muestra"
                                         class="imageIndex" style="width:60%; ">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-left">Caracteristicas muestra</h3>
                </div>
                <div class="panel-body text-left">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Unidad Base:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong> {{ muestra.unidadBase }} </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Disponible:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong> {{ muestra.calc_disp }} </strong>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Cantidad disponible:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong id="cantidadActual"> {{ muestra.calc_cuantos_disp }} </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Controlada:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong> {{ muestra.calc_controled }} </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Valor unidad:</strong>
                        </div>
                        <div class="col-md-6">
                            <strong> {{ muestra.valor }} </strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-left"></h3>
                </div>
                <div class="panel-body text-left">
                    <form method="post" action="" name="formSolicitud" id="formSolicitud">
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Proyectos:</strong>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control requerido" name="project" id="project">
                                    <option value="">--Seleccione--</option>
                                    {% for proyecto in proyectos %}

                                        <option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <strong>Experimentos:</strong>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control requerido" name="experiment" id="experiment">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Protocolos:</strong>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control requerido" name="protocol" id="protocol">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <strong>Pasos:</strong>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control requerido" name="step" id="step">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <strong>{{ form_muestra.cantidad.label }}</strong>
                            </div>
                            <div class="col-md-4">
                                {{ form_muestra.cantidad|addcss:"form-control" }}
                            </div>
                            <div class="col-md-2">
                                <strong>{{ form.fechaInicial.label }}</strong>
                            </div>
                            <div class="col-md-4">
                                {{ form.fechaInicial|addcss:"form-control datepicker" }}
                            </div>
                        </div>
                        {% if muestra.calc_disp != "No" %}
                            <div class="row">
                                <div class="col-md-6">
                                    <input class='btn btn-block btn-primary' style="margin-bottom:0px" type="submit"
                                           value="Solicitar" id="solicitar"/>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $('#project').change(function () {
            project_id = $(this).val();
            request_url = '/solicitarMuestra/experimentos/?project_id=' + project_id;
            $('#experiment')
                .find('option')
                .remove()
                .end()
                .append('<option value="">--Seleccione--</option>')
                .val('');

            $('#protocol')
                .find('option')
                .remove()
                .end()
                .append('<option value="">--Seleccione--</option>')
                .val('');

            $('#step')
                .find('option')
                .remove()
                .end()
                .append('<option value="">--Seleccione--</option>')
                .val('');

            if (this.value == -1 || this.value == "") {

                return false;
            }
            $.ajax({
                type: "POST",
                url: request_url,
                data: JSON.stringify({
                    id_country: project_id
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        $.each(data, function (key, value) {
                            $('#experiment').append($("<option/>").val(key).text(value));
                        });
                    } else {
                        console.log('error')
                    }

                },
                failure: function (errMsg) {
                    alert('Hubo un error');
                }
            });
        });
        $('#experiment').change(function () {
            experiment_id = $(this).val();
            request_url = '/solicitarMuestra/protocolos/?experiment_id=' + experiment_id;
            $('#protocol')
                .find('option')
                .remove()
                .end()
                .append('<option value="">--Seleccione--</option>')
                .val('');

            $('#step')
                .find('option')
                .remove()
                .end()
                .append('<option value="">--Seleccione--</option>')
                .val('');

            if (this.value == -1 || this.value == "") {
                return false;
            }
            $.ajax({
                type: "POST",
                url: request_url,
                data: JSON.stringify({
                    id_country: experiment_id
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        $.each(data, function (key, value) {
                            $('#protocol').append($("<option/>").val(key).text(value));
                        });
                    } else {
                        console.log('error')
                    }

                },
                failure: function (errMsg) {
                    alert('Hubo un error');
                }
            });
        });
        $('#protocol').change(function () {
            protocol_id = $(this).val();
            request_url = '/solicitarMuestra/pasos/?protocol_id=' + protocol_id;
            $('#step')
                .find('option')
                .remove()
                .end()
                .append('<option value="">--Seleccione--</option>')
                .val('');

            if (this.value == -1 || this.value == "") {
                return false;
            }
            $.ajax({
                type: "POST",
                url: request_url,
                data: JSON.stringify({
                    id_country: protocol_id
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        $.each(data, function (key, value) {
                            $('#step').append($("<option/>").val(key).text(value));
                        });
                    } else {
                        console.log('error')
                    }

                },
                failure: function (errMsg) {
                    alert('Hubo un error');
                }
            });
        });


        $("#formSolicitud").submit(function (e) {

            e.preventDefault();
            if (validarFormulario()) {
                $("#formSolicitud").submit();
            }

        });

        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:2012",
            // You can put more options here.

        });
        function validarFormulario() {
            $(".requerido").each(function () {

                if ($(this).val() == "") {
                    $("#mensajes-error").append('<div class="alert alert-danger col-md-6"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                        'Los campos requeridos deben ser diligenciados</div>');
                    return false;
                }
            });

            if ($("#id_cantidad").val() > parseInt($("#cantidadActual").text())) {

                $("#mensajes-error").append('<div class="alert alert-danger col-md-6"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                    'La cantidad solicitada no puede ser mayor que la disponible</div>');
                return false;
            }
            if ($("#id_cantidad").val() <= 0) {

                $("#mensajes-error").append('<div class="alert alert-danger col-md-6"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                    'La cantidad solicitada debe ser mayor que cero</div>');
                return false;
            }

            return true;
        }
    </script>
{% endblock %}
