{% extends 'base.html' %}

{% load lab_module_extras %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block head_others %}
    <link href="{% static 'css/detalleCustom.css' %}" rel="stylesheet">
{% endblock %}
{% block head_title %}{{ block.super }}{{ section.title }}{% endblock %}

{% block content %}

    <div class="page-header text-center">
        <h2>{{ section.title }}</h2>
    </div>

    <form id="formLugar" name="formLugar" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading ">
                <h3 class="panel-title text-left">Información Básica</h3>
            </div>

            <div class="panel-body text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-6">

                            <div class="row">
                                {% for error in formAlmacenamiento.idSistema.errors %}
                                    <div class="col-md-12">
                                        <div class="alert alert-danger ">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-3">
                                    <strong>{{ formAlmacenamiento.idSistema.label_tag }}</strong>
                                </div>
                                <div class="col-md-7 col-sm-4">
                                    {% if not section.agregar %}
                                        {{ formAlmacenamiento.idSistema|add_class:"form-control"|append_attr:"readonly" }}
                                    {% else %}
                                        {{ formAlmacenamiento.idSistema|add_class:"form-control" }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="row">
                                {% for error in form.nombre.errors %}
                                    <div class="col-md-12">
                                        <div class="alert alert-danger ">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-3">
                                    <strong>{{ form.nombre.label_tag }}</strong>
                                </div>
                                <div class="col-md-7 col-sm-4">
                                    {{ form.nombre|addcss:"form-control" }}
                                </div>
                            </div>

                            <div class="row">
                                {% for error in form.descripcion.errors %}
                                    <div class="col-md-12">
                                        <div class="alert alert-danger ">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-3">
                                    <strong>{{ form.descripcion.label_tag }}</strong>
                                </div>
                                <div class="col-md-7 col-sm-4">
                                    {{ form.descripcion|addcss:"form-control" }}
                                </div>
                            </div>

                            <div class="row">
                                {% for error in form.estado.errors %}
                                    <div class="col-md-12">
                                        <div class="alert alert-danger ">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col-md-3">
                                    <strong>{{ form.estado.label_tag }}</strong>
                                </div>
                                <div class="col-md-7 col-sm-4">
                                    {{ form.estado|addcss:"checkbox form-control" }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-6">
                            {% for error in form.imagen.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div>
                                    <strong>{{ form.imagen.label_tag }}</strong>
                                </div>
                            </div>

                            <div class="row">
                                {% if not section.agregar %}
                                    <div class="panel panel-default">
                                        <div class="panel-body text-left" style="text-align:center">
                                            <a href="{{ form.instance.imagen.url }}" target="_blank">
                                                <img src="{{ form.instance.imagen.url }} " alt="Imagen Máquina"
                                                     class="imageIndex" style="width:60%" ;>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class=" row">
                                {{ form.imagen }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Bandejas</h3>
                    </div>
                    <div class="panel-body text-left" style="height:140px">

                        <div class="row">
                            {% for error in formAlmacenamiento.numZ.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6">
                                <strong>{{ formAlmacenamiento.numZ.label_tag }}</strong>
                            </div>
                            <div class="col-md-6">
                                {{ formAlmacenamiento.numZ|addcss:"form-control" }}
                            </div>
                        </div>

                        <div class="row">
                            {% for error in formAlmacenamiento.numX.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6">
                                <strong>{{ formAlmacenamiento.numX.label_tag }}</strong>
                            </div>
                            <div class="col-md-6">
                                {{ formAlmacenamiento.numX|addcss:"form-control" }}
                            </div>
                        </div>

                        <div class="row">
                            {% for error in formAlmacenamiento.numY.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6">
                                <strong>{{ formAlmacenamiento.numY.label_tag }}</strong>
                            </div>
                            <div class="col-md-6">
                                {{ formAlmacenamiento.numY|addcss:"form-control" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Medidas</h3>
                    </div>
                    <div class="panel-body text-left" style="height:140px">

                        <div class="row">
                            {% for error in formAlmacenamiento.temperatura.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-4">
                                <strong>{{ formAlmacenamiento.temperatura.label_tag }}</strong>
                            </div>
                            <div class="col-md-4">
                                {{ formAlmacenamiento.temperatura|addcss:"form-control" }}
                            </div>
                            <div class="col-md-2">
                                <strong>°C</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Ubicación</h3>
                    </div>
                    <div class="panel-body text-left">

                        <div class="row">
                            {% for error in formPos.idLaboratorio.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6">
                                <strong>{{ formPos.idLaboratorio.label_tag }}</strong>
                            </div>
                            <div class="col-md-6">
                                {{ formPos.idLaboratorio|addcss:"form-control" }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>Localización:</strong>
                            </div>
                        </div>

                        <div class="row">
                            {% for error in formPos.posX.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6">
                                <strong>{{ formPos.posX.label_tag }}</strong>
                            </div>
                            <div class="col-md-6">
                                {{ formPos.posX|addcss:"form-control" }}
                            </div>
                            {% for error in formPos.posY.errors %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger ">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6">
                                <strong>{{ formPos.posY.label_tag }}</strong>
                            </div>
                            <div class="col-md-6">
                                {{ formPos.posY|addcss:"form-control" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row center">
            <div>
                <input class="btn btn-primary" type="submit" value="Guardar"/>
                <a class="btn btn-default" href="{% url 'lugar-list' %}" id="cancel" name="cancel">Cancelar</a>
            </div>
        </div>
    </form>

{% endblock %}