

{% load i18n staticfiles %}
{% load staticfiles %}

<div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Disponibilidad</h3>
                    </div>
<h3>Seleccione las horas en las cuales la máquina no estara disponible</h3>
<div id="calendar"></div>
</div>
</div>
</div>

<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery-ui.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js'></script>

<script src='fullcalendar/lang/es.js'></script>

<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />
<script >
	$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
        height: 650,
        allDaySlot:false,
        header: {
        	left: 'prev,next today',
        	center: 'title',
        	right: 'month,agendaWeek,agendaDay'
        },
		minTime: "06:00:00",
		maxTime: "20:00:00",
        selectable: true,
        selectHelper: true,
        dayClick: function(date, jsEvent, view) {
            console.log(view.name);
            if (view.name === "month" ) {
                $('#calendar').fullCalendar('gotoDate', date);
                $('#calendar').fullCalendar('changeView', 'agendaDay');
            }},
        defaultView: 'agendaWeek',
        firstDay:1,
        select: function(start, end, jsEvent,view) 
        {
        	if(view.name === "agendaDay" || view.name === "agendaWeek")
        	{
        	var title = null;

        	 {% if perms.LabModule.can_editMachine %}
                      title="Reserva"
             {% endif %}

        	if (title) {
        		$('#calendar').fullCalendar('renderEvent',
        		{
        			title: title,
        			start: start,
        			end: end,
        			eventBackgroundColor:"red"
        		},true );
        	}
        	$('#calendar').fullCalendar('unselect');
        }
    },
        editable: true,
        events: '/schedule/api/occurrences?start=2016-10-01&end=2017-10-01&calendar_slug=calendario-maquinas'
    });

    $('#calendar').fullCalendar('render');
});
</script>

