{% extends 'base.html' %}

{% block head_title %} {{ section.title }}| {% endblock %}
{% load lab_module_extras %}
{% block content %}

<div class="page-header text-center">
    <h1>{% block title %}{{ section.title }}{% endblock %} </h1>
</div>

<br>

    <div class="row">
        {% if perms.LabModule.can_addMachine %}
            <form action="{% url 'maquina-add' %}">
        <input type="submit" value="Agregar máquina" class="btn btn-primary" />
    </form>
        {% endif %}
        <div class="col-md-12">
            <h2>Buscar máquinas por nombre</h2>
            <form type="get" action="." style="margin: 0">
                <div class="input-group col-md-12">
                    <input id="que" type="text" class="form-control input-lg" placeholder="Autoclave" name="que" value="{{query}}" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>



<br>

<div class="row ">
    {% if maquinasBien %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Se debe reservar</th>
            </tr>

            {% for maquina, ubicacion in maquinasBien %}
                <tr class="clickable-row {{ maquina.con_reserva|yesno:"danger,"}}" data-href="/maquina/{{ maquina.idSistema}}">

                <th>{{ maquina.idSistema }}</th>
                <th>{{ maquina.nombre }}</th>
                <th>{{ubicacion}}</th>
                <th>{{ maquina.con_reserva|yesno:"Si,No"}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <div class="col-xs-12 text-center">            
            <div id="noresults"><h1><strong>No hay máquinas que coincidan con la búsqueda</strong></h1></div>
    </div>
    {% endif %}
</div>


<div class="row">
    <ul class="pagination center">
        <li><a href="?pag=1&que={{query}}"><<</a> </li>
        {% for pagina in paginas %}
        {% ifequal pagina pag%}
        <li class="active"><a href="?pag={{pagina}}&que={{query}}">{{pagina}}</a> </li>
        {% else %}
        <li ><a href="?pag={{pagina}}&que={{query}}">{{pagina}}</a> </li>
        {%endifequal%}     
        {% endfor %}
        <li><a href="?pag={{last}}&que={{query}}">>></a> </li>
    </ul>
</div>


{% endblock %}