.banner {
    width: 100%;
}

.banner-container {
    max-height: 400px;
    overflow: hidden;
    margin-top: -55px;
}

.home-icono {
    width: 40%;
}

.home-icono-container {
    text-align: center;
}

p {
    text-align: justify;
}
