{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {% include 'head_css.html' %}
    <!-- Others head links from another view.html -->
    {% block head_others %}{% endblock %}
    <title>{% block head_title %}LabControl|{% endblock %}</title>
</head>

<body>

{% include 'navbar.html' %}
{% include 'javascripts.html' %}
<div class="container">
    <div class='row'>
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }} fade in alert-dismissable"{% endif %}>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class='row'>
        {% block content %}

        {% endblock %}
    </div>
</div><!-- /.container -->


<!-- Others JavaScript from another view.html -->
{% block scripts_others %}{% endblock %}
</body>
</html>
