{% load staticfiles %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="{% url 'home' %}"><img class ="navicon" src="{% static '/img/favicon.ico'%}"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a  href="{% url 'home' %}">Lab Control</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated%}
                        {% if perms.LabModule.can_viewStorage %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lugares <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'listaLugares' %}">Lista Lugares</a></li>
                                    {% if perms.LabModule.can_addStorage %}
                                        <li><a href="{% url 'agregarLugar' %}">Agregar Lugar</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if perms.LabModule.can_viewMachine %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maquinas <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'maquinas-listar' %}">Máquinas</a></li>
                                    {% if perms.LabModule.can_addMachine %}
                                        <li><a href="{% url 'maquina-add' %}">Agregar Maquina</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if perms.LabModule.can_addUser %}
                            <li><a href="{% url 'registration_register' %}">Registro</a>
                        {% endif %}
                        <li><a href="{% url 'auth_logout' %}">Salir</a></li>
                    {% endif %}

                </ul>
                {% if not request.user.is_authenticated and not "accounts/login" in request.get_full_path %}
                <form class = "navbar-form navbar-right" method="POST" action="{% url 'auth_login' %}"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Ingresar</button>
                </form>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </nav>