{% extends 'base.html' %}

{% load lab_module_extras %}
{% block head_title %}{{block.super}}Agregar Lugar {% endblock%}

{% block content %}
    {% if mensaje != "" %}
        <div class="alert alert-danger ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ mensaje }}
        </div>
    {% endif %}

    {% for error in formPos.errors %}
        <div class="alert alert-danger">
            Campo: <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

    <form action="{% url 'agregarLugar' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div class="lugar page-header text-center">
            <h1>Agregar lugar de almacenamiento</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-left">Información básica</h3>
                </div>
                <div class="panel-body text-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Nombre:</strong>
                            </div>
                            <div class="col-md-3">
                                {{ form.nombre|addcss:"form-control" }}
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Posición X:</strong>
                                    </div>
                                    <div class="col-md-6">
                                        {{ formPos.posX|addcss:"form-control" }}

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Descripción:</strong>
                            </div>
                            <div class="col-md-3">
                                {{ form.descripcion|addcss:"form-control" }}

                            </div>
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Posición Y:</strong>
                                    </div>
                                    <div class="col-md-6">
                                        {{ formPos.posY|addcss:"form-control" }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Imagen:</strong>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.imagen }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Laboratorio:</strong>
                                    </div>
                                    <div class="col-md-6">
                                        {{ formPos.idLaboratorio|addcss:"form-control" }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-left">Bandejas</h3>
                            </div>
                            <div class="panel-body text-left">
                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Capacidad:</strong>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.capacidad|addcss:"form-control" }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#myModal">
                                            Agregar Bandeja
                                        </button>
                                    </div>

                                </div>
                                <div class="row col-md-12">
                                    <textarea id="items" name="items" class="form-control" rows="3" required
                                              readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-left">Medidas</h3>
                            </div>
                            <div class="panel-body text-left">

                                <div class="row">
                                    <div class="col-md-3">
                                        <strong>Temperatura:</strong>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.temperatura|addcss:"form-control" }}
                                    </div>
                                    <div class="col-md-2">
                                        Grados
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-left">
                <input class='btn btn-primary' type="submit" value="Agregar"/>
            </div>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="display: inline-block" id="exampleModalLabel">Agregar Bandejas</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Tamaño:</strong>
                        </div>
                        <div class="col-md-6">
                            <input id="tamano" name="tamano" type="text" placeholder="Tamaño"
                                   class="form-control input-md"
                                   required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Cantidad:</strong>
                        </div>
                        <div class="col-md-6">
                            <input id="cantidad" name="cantidad" type="text" placeholder="Cantidad"
                                   class="form-control input-md"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick='adicionar();'>Agregar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("id_capacidad").readOnly = true;

        var list = document.getElementById('items');

        function adicionar() {
            var capacidad = document.getElementsByName('capacidad')[0].value != ""
                ? parseInt(document.getElementsByName('capacidad')[0].value)
                : 0;
            var tamano = document.getElementById('tamano').value;
            var cantidad = document.getElementById('cantidad').value;
            var cantidadInt = parseInt(cantidad);
            var texto = 'Tamaño: ' + tamano + ', Cantidad: ' + cantidad + '\n';
            document.getElementById("items").value += texto;
            $("#myModal").modal('toggle');
            document.getElementsByName('capacidad')[0].value = capacidad + cantidadInt;
        }
    </script>
{% endblock %}

