{% extends 'base.html' %}

{% load lab_module_extras %}

{% block head_title %}Detalle Lugar | {% endblock %}

{% block content %}

    <div class="starter-template">
        <h1>Detalle {{ lugar.idLugar.nombre }}</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-left">Información básica ID {{ lugar.idLugar.id }}</h3>
            </div>

            <div class="panel-body text-left">
                <div class="container">
                    <div class="row">

                        <div class="col-md-2">
                            <strong>Descripción:</strong>
                        </div>
                        <div class="col-md-3">

                          <textarea id="items" name="items" class="form-control" rows="3"
                                    readonly> {{ lugar.idLugar.descripcion }} </textarea>
                        </div>

                        <div class="col-md-6">
                            <a href="/{{ lugar.idLugar.imagen.url }}" target="_blank">
                                <img src="/{{ lugar.idLugar.imagen.url }}" alt="Imagen Lugar Almacenamiento"
                                     class="imageIndex">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-left">Datos varios</h3>
            </div>
            <div class="panel-body text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <strong>Laboratorio:</strong>
                        </div>
                        <div class="col-md-3">
                            <strong> {{ laboratorio }} </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <strong>Localización:</strong>
                        </div>
                        <div class="col-md-3">
                            <strong>{{ lugar.posX }} </strong>
                            <strong>{{ lugar.posY }} </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Bandejas</h3>
                    </div>
                    <div class="panel-body text-left">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Usadas:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ bandejasOcupadas }} </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Libres:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ bandejasLibres }} </strong>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Capacidad:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ lugar.idLugar.capacidad }} </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Tamaño:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ tamano }} gr </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Medidas</h3>
                    </div>
                    <div class="panel-body text-left">
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Peso:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ lugar.idLugar.peso }} </strong>
                            </div>
                            <div class="col-md-2">
                                Kg
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Temperatura:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ lugar.idLugar.temperatura }} </strong>
                            </div>
                            <div class="col-md-2">
                                Grados
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Tamaño:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ lugar.idLugar.tamano }} </strong>
                            </div>
                            <div class="col-md-2">
                                Metros
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}