{% extends 'base.html' %}

{% load lab_module_extras %}
{% load staticfiles %}
{% block head_others %}
    <link href="{% static 'css/detalleCustom.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}{{block.super}}Detalle Lugar{% endblock%}



{% block content %}

    <div class="starter-template">
        <h2>Detalle {{ lugar.idLugar.nombre }}</h2>
        <br><br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-left">Información básica ID {{ lugar.idLugar.id }}</h3>
            </div>

            <div class="panel-body text-left">
                <div class="container">
                    <div class="row">

                        <div class="col-md-2">
                            <strong>Descripción:</strong>
                        </div>
                        <div class="col-md-3 col-sm-4">

                          <p id="items" name="items"  rows="5" > {{ lugar.idLugar.descripcion }} </p>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="panel panel-default">
                                 <div class="panel-body text-left" style="text-align:center">

                                    <a href="{{ lugar.idLugar.imagen.url }}" target="_blank">
                                        <img src="{{ lugar.idLugar.imagen.url }}" alt="Imagen Lugar Almacenamiento"
                                             class="imageIndex" style="width:60%; ">
                                    </a>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Bandejas</h3>
                    </div>
                    <div class="panel-body text-left" style="height:140px">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Usadas:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ bandejasOcupadas }} </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Libres:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ bandejasLibres }} </strong>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Capacidad:</strong>
                            </div>
                            <div class="col-md-6">
                                <strong> {{ lugar.idLugar.capacidad }} </strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Medidas</h3>
                    </div>
                    <div class="panel-body text-left" style="height:140px">

                        <div class="row">
                            <div class="col-md-4">
                                <strong>Temperatura:</strong>
                            </div>
                            <div class="col-md-4">
                                <strong> {{ lugar.idLugar.temperatura }} </strong>
                            </div>
                            <div class="col-md-2">
                                Grados
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-left">Ubicación</h3>
                    </div>
                    <div class="panel-body text-left" style="height:140px">

                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Laboratorio:</strong>
                                </div>
                                <div class="col-md-6">
                                    <strong> {{ laboratorio }} </strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Localización:</strong>
                                </div>
                                <div class="col-md-6">
                                    <strong>{{ lugar.posX }} </strong>
                                    <strong>{{ lugar.posY }} </strong>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
