{% extends 'base.html' %}
{% load staticfiles %}
{% block head_others %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
    <link href="{% static 'css/datatablesCustom.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}{{ block.super }}Lista Lugares Almacenamiento {% endblock %}

{% block content %}

    <div class="starter-template">
        <h1>Lugares de almacenamiento</h1>
    </div>

    <table id="lugares_table" class="datatable display compact responsive nowrap" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>PosX</th>
            <th>PosY</th>
            <th>Peso(Kg)</th>
            <th>Temp(Grados)</th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        {% for lugar in lista_lugares %}

            <tr>
                <td>{{ lugar.idLugar.id }}</td>
                <td>{{ lugar.idLugar.nombre }}</td>
                <td>{{ lugar.posX }}</td>
                <td>{{ lugar.posY }}</td>
                <td>{{ lugar.idLugar.peso }}</td>
                <td>{{ lugar.idLugar.temperatura }}</td>
                <td align="center"><a class="btn btn-primary" href="/verLugar/{{ lugar.idLugar.id }}">Ver Detalle</a></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
    {% block scripts_others %}

        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.min.js"></script>

        <script>
            $(function () {

                if ($.fn.dataTable.isDataTable('#lugares_table')) {
                    $('#lugares_table').DataTable();
                }
                else {
                    $('#lugares_table').DataTable({
                        responsive: true,
                        sPaginationType: "full_numbers",
                        bJQueryUI: true,
                        language: {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                        }
                    });
                }


            });
        </script>
    {% endblock %}

{% endblock %}